<h1>Our listings</h1>
<div class="row">
  {{#each products as |product|}}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      {{> productCard product=product }}
    </div>
  {{/each}}
</div>